/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.shadow-custom {
  box-shadow: 15px 15px white;
  box-shadow: 0 -15px 60px rgba(220, 219, 219, 0.3), 15px 15px white;
}

.gradient-bg {
  background: linear-gradient(to r, #FFFFFF 82%, #FFFFFF 10%);
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: repeating-conic-gradient(#474bff 0 90deg,#dbdcef 0 180deg);
  animation: spinner-a78xsi 1s infinite linear;
}

@keyframes spinner-a78xsi {
  100% {
     transform: rotate(1turn);
  }
}

.emp {
  text-align: center;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 5px solid #537988;
  padding: 10px;
}

th, td {
  padding: 10px;
  text-align: left;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #537988;
  color: #007bff;
  text-decoration: none;
}

.page-link:hover {
  background-color: #ddd;
}
